module.exports = {
  apps: [{
    name: 'avi',
    script: './dist/index.js',
    env_production: {
      NODE_ENV: 'production',
      NODE_CONFIG_DIR: '/var/secret'
    }
  }],

  deploy: {
    production: {
      user: '',
      port: '',
      host: '',
      ref: 'origin/master',
      repo: 'git@github.com:Army-U/avi-api.git',
      path: '/var/avi',
      'post-setup': 'ls -la',
      'post-deploy': 'npm i && npm run build && npm run start'
    }
  }
}
